[MAIN]
suggestion-mode=yes
fail-under=9.0

[MESSAGES CONTROL]
disable=
	missing-function-docstring,
	missing-class-docstring,
	missing-module-docstring,

[IMPORTS]
generated-members=cv2.*

[FORMAT]
good-names=i,j,x,y,r,g,b,C1,C2,C,u,v
