[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
scikit-image = "*"
numpy = "*"
scikit-learn = "*"
torch = "*"
torchvision = "*"
torch-summary = "*"
pandas = "*"
seaborn = "*"
tk = "*"
tkintertable = "*"
opencv-contrib-python = "*"
python-dotenv = "*"
pyyaml = "*"
azure-storage-blob = "*"
azure-identity = "*"
azure-keyvault-secrets = "*"
azure-functions = "*"

[dev-packages]
pylint = "*"
pytest = "*"
autopep8 = "*"

[requires]
python_version = "3.10"

[scripts]
lint = "bash ./lint.sh"
imgprc = "python3 -m image_processing.main"
dataset = "python3 -m cnn.create_dataset"
test = "pytest"
autolint = "autopep8 --in-place --recursive ."
