# Logs
log
*.log

dist

# Dependency directory
# https://docs.npmjs.com/cli/shrinkwrap#caveats
node_modules

# Debug log from npm
npm-debug.log

./config/common.yml

.DS_Store

.env

jest-html-reporters-attach
